/*
    galaxy-frames generic styles
*/

.f-corner
{
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.f-toggle
{
    color: #80A0F0;
}

.bs-tooltip
{
    z-index: 34010;
}

/*
    galaxy-frames
*/

.galaxy-frame-background
{
    z-index         : 14000; 
    position        : absolute;
    display         : none;
    top             : 0px;
    left            : 0px;
    height          : 100%;
    width           : 100%;
    opacity         : 0.6;
    background      : #11131A;
    overflow        : auto;
}

.galaxy-frame-shadow
{
    z-index         : 14001;
    position        : absolute;
    display         : none;
    top             : 0px;
    left            : 0px;
    opacity         : 0.5;
    background      : #2C3143;
    border          : 1px solid #EEEEEE;
}

.galaxy-frame
{
    z-index         : 14002;
    overflow        : hidden;
    position        : absolute;
    background      : #FFFFFF;
    border          : 1px solid #D0D0D0;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
/*
    panel menu button
*/
.galaxy-frame-menu
{
    z-index         : 14003; 
    position        : absolute;
    cursor          : pointer;
    color           : #BCC800;
    right           : 10px;
}

.galaxy-frame-scroll-up
{
    top             : 50px;
}

.galaxy-frame-scroll-down
{
    bottom          : 20px;
}

/*
    panel active button
*/
.galaxy-frame-active
{
    z-index         : 34010; 
    position        : absolute;
    top             : 8px;
    right           : 120px;
    cursor          : pointer;
    color           : #D0D0D0;
}

/*
    panel load button
*/
.galaxy-frame-load
{
    z-index         : 34010; 
    position        : absolute;
    top             : 6px;
    right           : 170px;
    cursor          : pointer;
    color           : #BCC800;
}

.galaxy-frame-load .number
{
    position        : absolute;
    font-weight     : bold;
    font-size       : 12px;
    font-family     : Verdana, Arial;
    top             : 8px;
    left            : 26px;
}

/*
    frame components
*/
.galaxy-frame .f-content
{
    position        : absolute;
    overflow        : hidden;
    background      : #FFFFFF;
    border          : none;
    top             : 24px;
    bottom          : 3px;
    left            : 3px;
    right           : 3px;
}

.galaxy-frame .f-cover
{
    position        : absolute;
    display         : none;
    top             : 0px;
    left            : 0px;
    height          : 100%;
    width           : 100%;
    opacity         : 0.0;
    background      : #FFFFFF;
}

.galaxy-frame .f-iframe
{
    border          : none;
    width           : 100%;
    height          : 100%;
}

.galaxy-frame .f-header
{
    height          : 17px;
    margin          : 2px;
    cursor          : pointer;
    border          : 1px solid #000000;
    background      : #2C3143;
    color           : #FFFFFF;
    font-weight     : bold;
}

.galaxy-frame .f-title
{
    position        : absolute;
    top             : 4px;
    left            : 16px;
    right           : 16px;
    font-size       : 12px;
    font-family     : Verdana, Arial;
    text-align      : center;
}

/*
     frame icons
*/

.galaxy-frame .f-icon
{
    position        : absolute;
    cursor          : pointer;
    font-style      : normal;
}

.galaxy-frame .f-not-allowed
{
    cursor          : not-allowed;
}

.galaxy-frame .f-close
{
    right           : 5px;
    top             : 4px;
}

.galaxy-frame .f-pin
{
    left            : 6px;
    top             : 4px;
}

.galaxy-frame .f-resize
{
    right           : 0px;
    bottom          : 0px;
    background      : #FFFFFF;
    width           : 16px;
    height          : 16px;
    color           : #2C3143;
    right           : 0px;
    bottom          : 0px;
    text-align      : center;
    line-height     : 16px;
    border          : 0px solid #2C3143;
}