@base_text: #303030;
@base_bg_top: #FFFFFF;
@base_bg_bottom: #FFFFFF;
@link_text: #303030;
@header_text: #023858;
@menu_bg_over: #DFE5F9;
@form_title_bg_top: #ebd9b2;
@form_title_bg_bottom: #ebd9b2;
@form_border: #d8b365;
@form_body_bg_top: #FFFFFF;
@form_body_bg_bottom: #FFFFFF;
@odd_row_bg: #DADFEF;
@error_message_border: #AA6666;
@error_message_bg: #FFCCCC;
@warn_message_border: #AAAA66;
@warn_message_bg: #FFFFCC;
@done_message_border: #66AA66;
@done_message_bg: #CCFFCC;
@info_message_border: #6666AA;
@info_message_bg: #d9edf7;
@table_header_bg: #ebd9b2;
@table_row_bg: white;
@table_border: #d8b365;
@footer_bg: #023858;
@footer_title_bg: #023858;
@footer_title_hatch: #000000;
@history_new_border: #A86030;
@history_new_bg: #FFB030;
@history_upload_border: #990099;
@history_upload_bg: #D090D0;
@history_waiting_border: #A86030;
@history_waiting_bg: #E8C060;
@history_deleted_border: #330066;
@history_deleted_bg: #3399FF;
@history_error_border: #AA6666;
@history_error_bg: #FFCCCC;
@history_paused_border: #6666AA;
@history_paused_bg: #d9edf7;
@history_running_border: #AAAA66;
@history_running_bg: #FFFFCC;
@history_ok_border: #66AA66;
@history_ok_bg: #CCFFCC;
@history_upload_border: #6666AA;
@history_upload_bg: #CCCCFF;
@history_queued_border: #888888;
@history_queued_bg: #EEEEEE;
@peek_table_header: #023858;
@masthead_bg: #D4E1FF;
@masthead_bg_highlight: #F0F4FF;
@masthead_text: #6684D0;
@masthead_link: #6684D0;
@masthead_active_tab_bg: #6684D0;
@masthead_menutab_color: #40507B;
@masthead_menutab_hover_color: #6684D0;
@quota_meter_bg: #C1C9E5;
@quota_meter_bar: #969DB3;
@quota_meter_warn_bar: #FFB400;
@quota_meter_error_bar: #FF4343;
@quota_meter_text: #273F7B;
@layout_bg: #eee;
@layout_masthead_border: #444;
@layout_border: #999;
@layout_hover: #AAAAEE;
@panel_header_bg_top: #f5f5f5;
@panel_header_bg_bottom: #cccccc;
