body{font:80% verdana, "Bitstream Vera Sans", geneva, arial, helvetica, helve, sans-serif;background:#FFFFFF;color:#303030;background-image:url(welcome_bg.png);background-repeat:repeat-x;background-position:top;padding:10px;}
div.section{vertical-align:middle;padding:20px;}
p.blocktext{margin-left:auto;margin-right:auto;width:75%;padding:5px;}
.center{display:block;margin-left:auto;margin-right:auto;padding:10px;text-align:center;}
.maininfobox,.detailsbox,.noticebox{margin-left:auto;margin-right:auto;width:85%;padding:20px;min-height:32px;background-repeat:no-repeat;background-position:10px 10px;border:1px solid #999999;border-color:#999999;margin-top:15px;margin-bottom:15px;}
.maininfobox{background-color:#FBDF6E;}
.noticebox{background-color:#F2F2F0;}
.detailsbox{background-color:#FBEE83;}
.topheader{font-size:140%;font-weight:bold;}
.overview{font-size:100%;font-weight:bold;}
.figuretext{font-size:90%;font-weight:bold;}
table{margin-left:auto;margin-right:auto;}
table.centertext{text-align:center;}
td{padding:10px;padding-bottom:0px;}
a.codedirection{white-space:nowrap;unicode-bidi:bidi-override;direction:rtl;}

.button3d {
  margin: 0 0 5px;
  padding: 0 12px;
  line-height: 28px;
  font-size: 11px;
  font-weight: bold;
  color: #555555;
  text-decoration: none;
  text-shadow: 0 1px white;
  background: #ececec;
  border-width: 1px 1px 0;
  border-style: solid;
  border-color: #cecece #bababa #b8b8b8;
  border-radius: 12px 12px 12px 12px;
  outline: 0;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: -webkit-linear-gradient(top, #f1f1f1, #ececec 70%, #e2e2e2);
  background-image: -moz-linear-gradient(top, #f1f1f1, #ececec 70%, #e2e2e2);
  background-image: -o-linear-gradient(top, #f1f1f1, #ececec 70%, #e2e2e2);
  background-image: linear-gradient(to bottom, #f1f1f1, #ececec 70%, #e2e2e2);
  -webkit-box-shadow: inset 0 1px #fdfdfd, inset 0 0 0 1px #eaeaea, 0 1px #b8b8b8, 0 3px #cccccc, 0 4px #b8b8b8, 0 5px 2px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px #fdfdfd, inset 0 0 0 1px #eaeaea, 0 1px #b8b8b8, 0 3px #cccccc, 0 4px #b8b8b8, 0 5px 2px rgba(0, 0, 0, 0.25);
}

.button3d:hover, .button3d:active {
  background: #ececdc;
  border-top-color: #c9c9b9;
}

.button3d:active {
  vertical-align: -5px;
  margin-bottom: 0;
  padding: 1px 13px 0;
  border-width: 0;
  border-radius: 12px;
  -webkit-box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.3), inset 0 1px 1px rgba(0, 0, 0, 0.4), 0 1px white;
  box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.3), inset 0 1px 1px rgba(0, 0, 0, 0.4), 0 1px white;
}