// Override colors to closely resemble the NeLS style (also includes some colors from the "blue" theme)

@NeLS_Blue: 	   #6684D0; // used for galaxy-title (brand)
@NeLS_DarkBlue:	   #273f7b; // used in NeLS logo image
@NeLS_MiddleBlue:  #4762A6; // used in e.g. toolbar menu items
@NeLS_light:	   #F0F4FF; // light blue shade for gradient (top)
@NeLS_dark:	   #D4E1FF; // dark blue shade for gradient (bottom)
@NeLS_cyan:	   #70A0E0; // used for active icons


@side-panel-bg: #DFE5F9;

@layout-border-color: #999;

@form-heading-bg: #ebd9b2;
@form-border: darken(@form-heading-bg,20%);

@table-heading-bg: #ebd9b2;
@table-border-color: darken(@table-heading-bg,20%);

@link-color: #303030;

@input-border: #aaa;

// not sure if these are really needed here, but just in case...
@state-success-bg: #aff1af; // green color in history (OK)
@state-danger-bg: #f9c7c5;  // red color in history (error)

// always underline links (this is needed to discern tool names from descriptions in the Tools panel)
a {
	text-decoration: underline;
}


// Label is used in places it probably shouldn't be (grid cells), replace with data- attributes and remove this.
label {
	font-weight: normal;
}




@navbar-inverse-color:                      @gray-light;
@navbar-inverse-bg:                         @NeLS_dark; // background of navigation bar on top of page
@navbar-inverse-border:                     darken(@navbar-inverse-bg, 10%);

// Inverted navbar links
@navbar-inverse-link-color:                 @NeLS_MiddleBlue; // color of toolbar items  ("Analyze Data", "Workflow", "Shared Data" etc.)
@navbar-inverse-link-hover-color:           @NeLS_Blue; // color of toolbar items when hovered
@navbar-inverse-link-hover-bg:              transparent;
@navbar-inverse-link-active-color:          @NeLS_MiddleBlue;
@navbar-inverse-link-active-bg:             darken(@navbar-inverse-bg, 10%); // background of selected menu "tile" (usually 'Analyze Data')
@navbar-inverse-link-disabled-color:        #444;
@navbar-inverse-link-disabled-bg:           transparent;

// Inverted navbar brand label
@navbar-inverse-brand-color:                @NeLS_Blue; // color of server address ("galaxy.bioinfo.no") 
@navbar-inverse-brand-hover-color:          @NeLS_Blue;
@navbar-inverse-brand-hover-bg:             transparent;

// Inverted navbar toggle
@navbar-inverse-toggle-hover-bg:            #333;
@navbar-inverse-toggle-icon-bar-bg:         @white;
@navbar-inverse-toggle-border-color:        #333;

@dropdown-link-hover-bg: @NeLS_Blue; // background of dropdown-menu items that are pointed at

@quota_meter_text: @NeLS_MiddleBlue;

@iconbar: #C0D0F0; // used for scratchbook icon and others
@iconbar-toggle: @NeLS_cyan;


@import "../bootstrap/mixins.less";

// Add gradient to Inverted navbar  (this was copied (and altered) from "bootstrap/theme.less" which is not used by Galaxy)
.navbar-inverse {
  #gradient > .vertical(@start-color: @NeLS_light; @end-color: @NeLS_dark;);

  .navbar-nav > .active > a {
    #gradient > .vertical(@start-color: darken(@NeLS_light,3%); @end-color: darken(@NeLS_dark, 3%););
    .box-shadow(inset 0px 0px 6px 0px rgba(0,0,0,.15));
  }

  .navbar-brand,
  .navbar-nav > li > a {
//    text-shadow: 1px 1px 1px rgba(0,0,50,.2); // dark blurred shadow
    text-shadow: 1px 1px 0px rgba(250,250,250,0.8); // "lowered text" (etched)
  }

}

.unified-panel-header {
   #gradient > .vertical-three-colors(@start-color: darken(@navbar-default-bg,5%); @mid-color: lighten(@navbar-default-bg,5%); @end-color: darken(@navbar-default-bg,5%););
}
